body {
    font-family: Arial, sans-serif;
    background: #FAF8F1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #FAEAB1;
    padding: 25px;
    border-radius: 10px;
    width: 320px;
}
h2 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-top: 10px;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #34656D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #334443;
}
.hasil {
    margin-top: 15px;
    background: #eef;
    padding: 10px;
    border-radius: 5px;
}